@{
    ViewData["Title"] = "داشبورد";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="content">
<div class="container">


    <div class="row p-20">

        <div class="col-lg-12 col-md-12">
            <div class="card-box">
                <div class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a asp-action="AddMainSlider" asp-controller="Slider" asp-area="Admin">افزودن</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Slider" asp-area="Admin">دیدن همه اسلایدر ها</a>
                        </li>
                    </ul>
                </div>
                <h4 class="header-title m-t-0 m-b-30">اسلایدر اصلی سایت</h4>
            </div><!-- end col -->

            <div class="card-box">
                <div class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a asp-action="Index" asp-controller="Product" asp-area="Admin">صفحه اصلی</a>
                        </li>
                        <li>
                            <a asp-action="ShowAllColor" asp-controller="Product" asp-area="Admin">رنگ ها</a>
                        </li>
                    </ul>
                </div>
                <h4 class="header-title m-t-0 m-b-30">محصولات</h4>
            </div><!-- end col -->

            <div class="card-box">
                <div class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a asp-action="Index" asp-controller="Category" asp-area="Admin">صفحه اصلی</a>
                        </li>
                        <li>
                            <a asp-action="AddCategory" asp-controller="Category" asp-area="Admin">افزودن گروه</a>
                        </li>
                    </ul>
                </div>
                <h4 class="header-title m-t-0 m-b-30">دسته بندی ها</h4>
            </div><!-- end col -->

            <div class="card-box">
                <div class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a asp-action="Index" asp-controller="Garranty" asp-area="Admin">صفحه اصلی</a>
                        </li>
                    </ul>
                </div>
                <h4 class="header-title m-t-0 m-b-30">گارانتی ها</h4>
            </div><!-- end col -->
            
            

        </div>
        <!-- end row -->

    </div> <!-- container -->

</div>
</div>