@model KalaMarket.DataLayer.Entities.Product.ProductColor

@{
    ViewData["Title"] = "افزودن رنگ";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-left: auto; margin-right: auto;" class="card-box">
    <h1 >افزودن رنگ محصول</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddColor">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ProductColorName" class="control-label"></label>
                    <input asp-for="ProductColorName" class="form-control" />
                    <span asp-validation-for="ProductColorName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductColorCode" class="control-label"></label>
                    <input asp-for="ProductColorCode" class="form-control" />
                    <span asp-validation-for="ProductColorCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="افزودن" class="btn btn-success" />
                    <a asp-action="ShowAllColor" asp-controller="Product" asp-area="Admin" class="btn btn-secondary">بازگشت</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
