@using Newtonsoft.Json
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="favicon" href="~/adminPanel/assets/images/favicon.ico">

    <title>ادمین | @ViewBag.Title</title>

    <!--Morris Chart CSS -->
    @*<link rel="stylesheet" href="~/adminPanel/assets/plugins/morris/morris.css">*@

    <!-- App css -->
    <link href="~/adminPanel/assets/css/bootstrap-rtl.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/adminPanel/assets/css/core.css" rel="stylesheet" type="text/css"/>
    <link href="~/adminPanel/assets/css/components.css" rel="stylesheet" type="text/css"/>
    <link href="~/adminPanel/assets/css/icons.css" rel="stylesheet" type="text/css"/>
    <link href="~/adminPanel/assets/css/pages.css" rel="stylesheet" type="text/css"/>
    <link href="~/adminPanel/assets/css/menu.css" rel="stylesheet" type="text/css"/>
    <link href="~/adminPanel/assets/css/responsive.css" rel="stylesheet" type="text/css"/>

    @RenderSection(name: "Styles", required: false)

    <script src="~/adminPanel/assets/js/modernizr.min.js"></script>

</head>


<body class="fixed-left">

<!-- Begin page -->
<div id="wrapper">

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        @RenderBody()
        <!-- content -->
    </div>


</div>
<!-- END wrapper -->

<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<script src="~/adminPanel/assets/js/jquery.min.js"></script>
<script src="~/adminPanel/assets/js/bootstrap-rtl.min.js"></script>
<script src="~/adminPanel/assets/js/detect.js"></script>
<script src="~/adminPanel/assets/js/fastclick.js"></script>
<script src="~/adminPanel/assets/js/jquery.slimscroll.js"></script>
<script src="~/adminPanel/assets/js/jquery.blockUI.js"></script>
<script src="~/adminPanel/assets/js/waves.js"></script>
<script src="~/adminPanel/assets/js/jquery.nicescroll.js"></script>
<script src="~/adminPanel/assets/js/jquery.scrollTo.min.js"></script>


<!-- App js -->
<script src="~/adminPanel/assets/js/jquery.core.js"></script>
<script src="~/adminPanel/assets/js/jquery.app.js"></script>

@RenderSection("scripts", required: false)

</body>
</html>