@model KalaMarket.DataLayer.Entities.Product.ProductGarranty
@* Add *@

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="AddGarranty" asp-area="Admin" asp-controller="Garranty" method="post">
                <div class="form-group">
                    <label asp-for="ProductGarrantyName"></label>
                    <input asp-for="ProductGarrantyName" class="form-control" data-parsley-id="4">
                    <span asp-validation-for="ProductGarrantyName"></span>
                </div>
                <div class="form-group text-right m-b-0">

                    <button class="btn btn-primary waves-effect waves-light" type="submit">
                        ثبت گارانتی
                    </button>
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-default waves-effect waves-light m-l-5">
                        بازگشت
                    </button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@* Edit *@

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">@ViewBag.title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">لغو</button>
                <button type="button" class="btn btn-primary">تایید</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@* Delete *@

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">@ViewBag.title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">لغو</button>
                <button type="button" class="btn btn-primary">تایید</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->